:root {
    --primary-color: #c1121f;
    --secondary-color: #780000;
    --background-color: #0f0f0f;
    --text-color: white;

    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

/* HEADER */

header {
    text-align: center;
    padding: 2rem;
    border-bottom: 2px solid var(--primary-color);
}

.logo {
    color: var(--primary-color);
    font-size: 3rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */

.hero {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:
     url(images/campfire.jpg) center/cover no-repeat;
}

.overlay {
    max-width: 700px;
    padding: 3rem;
}

.fade-text {
    color: var(--primary-color);
    font-size: 3rem;
}

/* BUTTON */

.btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 3rem;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* TITLES */

.title {
    text-align: center;
    margin-top: 3rem;
}

.title h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

/* GENERATOR */

.generator-content {
    width: 90%;
    margin: 3rem auto;
    text-align: center;
}

#result {
    margin-top: 2rem;
    padding: 2rem;
    background: rgba(0,0,0,0.7);
    border: 1px solid var(--secondary-color);
    max-width: 500px;
    margin-inline: auto;
}